* {
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(91, 86, 86);
  color: white;
}

header {
  display: flex;
  justify-content: center;
}

header h2 {
  text-align: center;
  font-family: "Fuse V.2 Display";
  margin-top: 16px;
  font-size: 90px;
  font-weight: 800;
  line-height: 120px;
  letter-spacing: -2.44px;
  color: #9c9696;
}

#tv-guide {
  margin-left: 15px;
  display: flex;
}

#tv-guide-program-names {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 95px;
  height: 32px;
  gap: 2px;
  margin-top: 60px;
  align-items: center;
}

#tv-guide-program-names h2 {
  font-family: "Fuse V.2 Display";
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: -0.74px;
  text-transform: uppercase;
}

#tv-guide-grid {
  position: relative;
  display: grid;
  overflow-x: scroll;
  overflow-y: visible;
  margin-left: 105px;
}

#tv-guide-grid::-webkit-scrollbar {
  display: none;
}

.tv-guide-grid-row {
  display: flex;
  align-items: center;
  height: 32px;
  background-color: #9c9696;
}

.tv-guide-grid-row div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  background-color: #9c9696;
  border: 1px solid rgb(91, 86, 86);
}

.show-title {
  background-color: #9c9696;
  font-family: "Fuse V.2 Display";
  font-size: 20px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.14px;
}

#line {
  position: absolute;
  top: 61px;
  width: 3px;
  height: 126px;
  z-index: 999;
  background: #df4f97;
}

#time-line {
  position: relative;
  display: flex;
  margin-top: 60px;
}

#time-line div {
  position: absolute;
  top: -22px;
}

#time-line h3 {
  font-family: "Fuse V.2 Display";
  font-size: 20px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.14px;
}

button {
  height: 44px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  justify-content: center;
  padding: 14px, 32px, 14px, 32px;
  border: 1px;
  align-items: center;
  line-height: 16px;
  font-weight: 400;
  font-family: "Fuse V.2 Display";
  letter-spacing: 0.08em;
  border-style: solid;
  border-color: #9c9696;
  background-color: 1px solid rgb(91, 86, 86);
}

button:hover {
  color: #df4f97;
  border-color: #df4f97;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 40px;
}

.preview-tooltip {
  position: absolute;
  display: inline-block;
  left: inherit;
  background-color: #fff;
  border: 1px dotted black;
  width: max-content;
  height: 22px;
  font-size: 16px;
  overflow: visible;
}

.preview-tooltip span {
  color: #000;
  background-color: #fff;
}

.watched {
  border: 1px solid #df4f97;
}

.watched div {
  background-color: #816c77;
}

.watched h3 {
  background-color: #816c77;
}

.currently-on {
  color: #eb9bc3;
}

.pin {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  #tv-guide-program-names {
    flex-direction: row;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: space-around;
    position: fixed;
    top: 50px;
    width: 100vw;
    z-index: 999;
  }

  #tv-guide {
    margin: 0;
    justify-content: space-around;
  }

  #tv-guide-program-names h2 {
    font-size: 16px;
  }

  #tv-guide-grid {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-left: 0px;
    margin-top: 30px;
    gap: 7px;
  }

  .tv-guide-grid-row {
    height: fit-content;
    flex-direction: column;
  }

  .tv-guide-grid-row div {
    display: flex;
    width: 20vw;
  }

  .show-title {
    font-size: 8px;
    justify-self: center;
  }

  #line {
    display: none;
  }

  #time-line {
    display: none;
  }

  header {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 999;
  }

  header h2 {
    font-size: 60px;
  }

  .buttons {
    flex-direction: column;
  }
}
