* {
  margin: 0;
  box-sizing: border-box;
  background-color: var(--black, rgb(91, 86, 86));
  color: var(--white, #f5f5f7);
}

header {
  display: flex;
  justify-content: center;
}

header h2 {
  text-align: center;
  font-family: "Fuse V.2 Display";
  margin-top: 16px;
  font-size: 90px;
  font-weight: 800;
  line-height: 120px;
  letter-spacing: -2.44px;
  color: #9c9696;
}

#tv-guide {
  margin-left: 15px;
  display: flex;
}

#tv-guide-program-names {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 95px;
  height: 32px;
  gap: 2px;
  align-items: center;
}

#tv-guide-program-names h2 {
  font-family: "Fuse V.2 Display";
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: -0.74px;
  text-transform: uppercase;
}

#tv-guide-grid {
  position: relative;
  display: grid;
  overflow-x: scroll;
  margin-left: 105px;
}

#tv-guide-grid::-webkit-scrollbar {
  display: none;
}

.tv-guide-grid-row {
  display: flex;
  align-items: center;
  height: 32px;
  background-color: #9c9696;
}

.tv-guide-grid-row div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  background-color: #9c9696;
  border: 1px solid rgb(91, 86, 86);
}

.show-title {
  background-color: #9c9696;
  font-family: "Fuse V.2 Display";
  font-size: 20px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.14px;
}

#line {
  position: absolute;
  top: 1px;
  width: 3px;
  height: 255px;
  z-index: 999;
  background: #df4f97;
}

#time-line {
  position: relative;
  display: flex;
  margin-top: 60px;
}

#time-line div {
  position: absolute;
  top: -22px;
}

button {
  height: 44px;
  color: var(--white);
  cursor: pointer;
  font-size: 16px;
  display: flex;
  justify-content: center;
  padding: 14px, 32px, 14px, 32px;
  border: 1px;
  align-items: center;
  line-height: 16px;
  font-weight: 800;
  gap: 10px;
  text-transform: uppercase;
  font-family: "Fuse V.2 Display";
  letter-spacing: 0.08em;
  padding: 14px 32px;
  font-style: normal;
  border-style: solid;
  border-image-source: linear-gradient(
    125deg,
    #0d8ed3 5.44%,
    #0b60bb 17.95%,
    #0a3aa7 36.44%,
    #6a387d 69.53%,
    #c53754 105.59%,
    #fa5240 117.57%
  );
  border-image-slice: 1;
  border-color: transparent;
}

button:hover {
  border-width: 1px;
  border-style: solid;
  border-image-source: linear-gradient(
    94.69deg,
    #37f3e1 -5.42%,
    #a109ff 117.51%
  );
  background-color: var(--white);
  color: var(--black);
  border-image-slice: 1;
  border-image-repeat: stretch;
  border-color: transparent;
  animation-timing-function: ease-out;
  animation-duration: 300ms;
}

@media screen and (max-width: 1000px) {
  #tv-guide-program-names {
    flex-direction: row;
    gap: 6px;
    position: fixed;
    top: 120px;
    width: 100vw;
    z-index: 999;
  }

  #tv-guide-program-names h2 {
    font-size: 16px;
  }

  #tv-guide-grid {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-left: 0px;
    margin-top: 30px;
    gap: 7px;
  }

  .tv-guide-grid-row {
    height: fit-content;
    flex-direction: column;
  }

  .tv-guide-grid-row div {
    display: flex;
    width: 36px;
  }

  .show-title {
    font-size: 6px;
    justify-self: center;
  }

  #line {
    display: none;
  }

  #time-line {
    display: none;
  }

  header {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 999;
  }

  header h2 {
    font-size: 60px;
  }
}
